*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    border: 1px solid black;
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-align{
    text-align: center;
}

.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.footer{
    background-color: #ff6b81;
    color: white;
    
}